<body style="background-image: url({{cfg.wwwroot}}/img/background.jpg); background-size: cover;">
    <div class="header mb-4 text-center">
        <div class="container">
            <img src="{{cfg.wwwroot}}/img/logo.png" alt="Simba-Logo" class="img-responsive logo">
        </div>
    </div>

    <div id="page" class="container">
        <!-- TODO CONTENT HERE -->
    </div>
</body>