<form class="text-center" method="post">
    <label for="authtoken" class="form-label">Password</label>
    <input name="authtoken" type="password" class="form-control" id="authtoken">

    <button type="submit" value="Submit" class="btn btn-primary mt-3">Submit</button>
</form>