<div class="text-center mb-5">
    <span><b>Distribution Centre:</b> {{distribution.name}}</span>
</div>

<form class="text-center">
    <div class="mb-3">
        <label for="storename" class="form-label">Enter Store Name</label>
        <input type="text" class="form-control" id="storename">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>